@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* reset page */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* estrutura page  */

html{
font-size: 62.5%;
color: rgba(151, 149, 149, 0.747);
font-family: "Madimi One", sans-serif;
scroll-behavior: smooth;
}

.sroll-link{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}

/* barra cabeçalho menu */

header{
    width: 100%;
    height: 7vh;
    background: rgba(26, 25, 25, 0.897);
}

.menu-content{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a{
    text-decoration: none;
    color: bisque;
    padding: 1.1rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: bisque;
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before{
   width: 100%;
}

/* conteudo principal */

.conteudo-primario{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 1)), url(./image/img-a.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* textos conteudo principal */

.primary-text{
    color: rgba(252, 252, 252, 0.76);
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text{
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* botoes */

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover{
    color: rgb(251, 255, 0);
    border: none;
}

.btns button:before{
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before{
    width: 100%;
}

.modalidade{
     padding: 20px;
     margin: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.cont-card{
    width: 250px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

.cont-card:hover{
    box-shadow: 5px 5px 15px black;
}

.cont-card > h2{
    font-size:40px;
    margin-bottom: 10px;
    color: black;
}

.cont-card > p{
    font-size: 20px;
    margin-top: 15px;
    color: black;
}

.descricao{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    margin: 50px 0;
    align-items: center;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    
}
.descricao h1{
    font-size: 30px;
}

.comodites{
    border-top: 1px solid black;
    display: flex;
    gap: 50px;
    padding: 30px;
}
.comodites p{
    line-height: 15px;
    color: black;
    
}

.roda-pe{
    border-top: 1px solid black;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}
.roda-pe h2{
    color: rgba(0, 0, 0, 0.582);
}

.roda-pe li{
    list-style: none;
    color: rgba(0, 0, 0, 0.582);
}

footer{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background-color: black;
}